/server/config.php
server/config.php
/server/sync/*
.buildpath
.settings
.project
/api/.gitignore
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/server/myschool_client/MyschoolUnitInfoJClient.jar
api/.htaccess
